# Python
__pycache__/
*.pyc

# Environments
venv/
.env

# datasets
data/

# OS files
.DS_Store

# External repo
MiDaS/

# model weights
*.pt
*.pth
models/*.pth

runs/
outputs/
papers/

# Jupyter
.ipynb_checkpoints/
*.mp4